@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Varela+Round');

body {
	margin: 0%;
	width: 100%;
	font-size: 1.2rem;
	background-color: #DCDCDC;
}

h3, p {
	margin: 0%;
}
	
.top{
	height: 120px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title{
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 30px;
}
	
.pokeball{
	padding: 15px;
	height: 60px;
} 
		
.pokemon-logo{
	width: 300px;
	height: 190px;
	justify-content: flex-start;
} 

.btn-type{
	margin: 20px;
	padding: 10px;
}

.all{
	background-color: pink;
	width: 80px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;;
	border-radius: 10px;
}

.fire{
	background-color: #ff8533;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.grass{
	background-color: #53c653;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.poison{
	background-color: #bf4080;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.ice{
	background-color: #e6ffff;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.flying{
	background-color: #80bfff;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.psychic{
	background-color: #ff80aa;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.water{
	background-color: #99e6ff;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.rock{
	background-color:#ccccb3;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.ground{
	background-color:#adad85;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.electric{
	background-color:#ffd633;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.bug{
	background-color: #d5ff80;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.normal{
	background-color: #b3b3cc;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.fighting{
	background-color: #ff3333;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.dragon{
	background-color: #aa80ff;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}

.ghost{
	background-color: #d279a6;
	width: 75px;
	height: 40px;
	font-family: 'Roboto Mono', monospace;
	border-radius: 10px;
}


	.pokemon-list{
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
.pokemon{
	list-style: none;
	width: 20%;
	text-align: center;
}

.poke-type, .poke-height, .poke-weight{
  padding: 5px;
  text-align: center;
  margin: auto;
  font-family: 'Abel', sans-serif;
  font-size: 1rem;
}

.poke-name{
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	color: #660000;
	padding: 10px;
}

.poke-img{
	background-color: #e6e6e6;
	padding: 10px;
	border-radius: 10px;
}

#selectOption{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.calculation{
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}